@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    /* background */
    --color-bg-base: #0f172a;
    --color-icon: #E4212E;

    /* candles */
    --color-candle-up: #00c27f;
    --color-candle-down: #ee3d3e;
    --color-candle-ceil: #a855f7;
    --color-candle-floor: #40c4ff;
    --color-candle-flat: #ffd900;

    /* text */
    --color-neutral-500: #f8fafc;
    --color-neutral-400: #d8d8d8;
    --color-neutral-300: #a3a3a3;
    --color-neutral-200: #767676;
    --color-neutral-blur: #858585;
    --color-accent: #6E6EC4;

    /* surfaces, card */
    --color-surface-500: #192536;
    --color-surface-300: #1e293b;
    --color-surface-100: #172237;
}

:root.light {
    --color-picker: #00904a;
    /* --color-background: white; */
}

@layer components {
    /* ui */
    .button {
        @apply bg-neutral-500 p-3 rounded-md active:opacity-70;
    }
    .button-text {
        @apply text-bg-base font-semibold;
    }

    .card {
        @apply bg-surface-100 rounded-xl shadow-lg;
    }

    /* statistic */
    .statistic-title-row {
        @apply flex-row justify-between
    }

    .statistic-title-group {
        @apply flex-row items-center gap-2
    }

    .statistic-title {
        @apply text-neutral-500 text-lg font-bold
    }

    .statistic-comment {
        @apply border border-neutral-500 size-6 rounded-full active:opacity-50
    }

    .statistic-comment-text {
        @apply text-neutral-500 text-sm text-center
    }

    .statistic-legend-groups {
        @apply flex-row justify-between gap-5
    }

    .statistic-legend-group {
        @apply flex-row justify-between items-center gap-2
    }

    .statistic-legend-icon-1 {
        @apply bg-candle-up size-3 rounded-full
    }
    .statistic-legend-icon-2 {
        @apply bg-candle-floor size-3 rounded-full
    }

    .statistic-legend-text {
        @apply text-lg text-neutral-500
    }


    /* industry */

    .industry-card-top {
        @apply h-[50%];
    }

    .industry-card-bottom {
        @apply h-[50%];
    }

    .industry-card-title-text {
        @apply text-base text-neutral-400 font-bold;
    }

    .industry-card-meta-row {
        @apply flex-row justify-between items-end;
    }

    .industry-card-pe {
        @apply text-sm text-neutral-300;
    }

    .industry-card-percent {
        @apply text-sm;
    }
}
